.card-container {
    backdrop-filter: blur(6px);
    display: inline-block;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    animation: ease-in-out;
    box-sizing: auto;
    box-shadow: 0px 0px 10px 0px rgb(247, 247, 247);
    margin-left: 4ex;
    margin-top: 3ex;
    margin-bottom: 3ex;
    border-radius: 20px;
    width: 250px;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0ex 0ex 4ex 0.5ex rgb(255, 255, 255);
}

.image-container{
    display: grid;
    width: 90%;
    height: 90%;
}

.image{
    display:grid;
    margin:0;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    }

.nameHome {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color:white;
    text-shadow: 0.1px 0.1px 5px rgb(0, 0, 0);
    text-align: center;
}

.continentHome {
    display: flex;
    justify-content: center;
    color:white;
    text-shadow: 0.1ex 0.1ex 0ex black;
    font-family: Arial;
}